@model List<RSC.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <table id="table1" class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var value in Model)
            {
                <tr>
                    <td class="text-left">
                        <a href="https://google.com">
                            @value.Name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>