@{
    ViewData["Title"] = "Gaming Components Availability Tracker";
}
<head>
    <meta name="description" content="RapidStockChecker.com provides free back-in-stock alerts for hard-to-find PC, GPU and console components and hardware the moment they become available." />
    <meta name="keywords" content="product tracker, gaming components tracker, discord tracker" />
    <style>
        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 3px solid rgba(0, 0, 0, 0.1);
        }

        .image-list-small {
            margin: 0 auto;
            text-align: center;
            padding: 0;
        }

        .image-list-small li {
            display: inline-block;
            margin: 0 12px 12px;
        }

        .jumbotron {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Welcome to the <strong>NEW</strong> Rapid Stock Checker!</h2>
                <img class="img-fluid center-block d-block mx-auto rounded" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/RSC-Banner-1.jpg" alt="RapidStockChecker.com Banner">
                <br />
                <div class="jumbotron">
                    <h2>We keep an eye on stock so you don't have to.</h2>
                    <p class="lead">Be the first to know when hard-to-find items are restocked.</p>
                    <hr class="my-4">
                    <p style="font-size: 15px">
                        Rapid Stock Checker is a concurrent stock checker that tracks down hard-to-find items.
                        <br />
                        <br />
                        Our service is entirely free to use, and we'll notify you as soon as stock becomes available for the product you're looking for.
                    </p>
                </div>
                <br />
                <h2>Trending Trackers</h2>
                <ul class="image-list-small">
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/3090.png"
                             style="width: 180px; height: 80px;" alt="NVIDIA Geforce RTX 3090">
                        <h3><a asp-controller="Product" asp-action="RTX3090">RTX 3090</a></h3>
                        <p>GeForce 30 Series</p>
                    </li>
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/3080ti.png"
                             style="width: 170px; height: 110px;" alt="NVIDIA Geforce RTX 3080 Ti">
                        <h3><a asp-controller="Product" asp-action="RTX3080Ti">RTX 3080 Ti</a></h3>
                        <p>GeForce 30 Series</p>
                    </li>
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/3080.png"
                             style="width: 180px; height: 80px;" alt="NVIDIA Geforce RTX 3080">
                        <h3><a asp-controller="Product" asp-action="RTX3080">RTX 3080</a></h3>
                        <p>GeForce 30 Series</p>
                    </li>
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/3070ti.png"
                             style="width: 170px; height: 110px;" alt="NVIDIA Geforce RTX 3070 Ti">
                        <h3><a asp-controller="Product" asp-action="RTX3070Ti">RTX 3070 Ti</a></h3>
                        <p>GeForce 30 Series</p>
                    </li>
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/3070.png"
                             style="width: 180px; height: 80px;" alt="NVIDIA Geforce RTX 3070">
                        <h3><a asp-controller="Product" asp-action="RTX3070">RTX 3070</a></h3>
                        <p>GeForce 30 Series</p>
                    </li>
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/3060ti.png"
                             style="width: 180px; height: 80px;" alt="NVIDIA Geforce RTX 3060 Ti">
                        <h3><a asp-controller="Product" asp-action="RTX3060Ti">RTX 3060 Ti</a></h3>
                        <p>GeForce 30 Series</p>
                    </li>
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/3060ti.png"
                             style="width: 180px; height: 80px;" alt="NVIDIA Geforce RTX 3060">
                        <h3><a asp-controller="Product" asp-action="RTX3060">RTX 3060</a></h3>
                        <p>GeForce 30 Series</p>
                    </li>
                </ul>
                <hr>
                <ul class="image-list-small">
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/rx.png"
                             style="width: 160px; height: 100px;" alt="AMD Radeon RX 6900XT">
                        <h3><a asp-controller="Product" asp-action="RX6900XT">RX 6900 XT</a></h3>
                        <p>AMD 6000 Series</p>
                    </li>
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/rx.png"
                             style="width: 160px; height: 100px;" alt="AMD Radeon RX 6800XT">
                        <h3><a asp-controller="Product" asp-action="RX6800Xt">RX 6800 XT</a></h3>
                        <p>AMD 6000 Series</p>
                    </li>
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/rx.png"
                             style="width: 160px; height: 100px;" alt="AMD Radeon RX 6800">
                        <h3><a asp-controller="Product" asp-action="RX6800">RX 6800</a></h3>
                        <p>AMD 6000 Series</p>
                    </li>
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/rx.png"
                             style="width: 160px; height: 100px;" alt="AMD Radeon RX 6700XT">
                        <h3><a asp-controller="Product" asp-action="RX6700Xt">RTX 6700 XT</a></h3>
                        <p>AMD 6000 Series</p>
                    </li>
                </ul>
                <hr>
                <ul class="image-list-small">
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/PS5.png"
                             style="width: 150px; height: 195px;" alt="Sony PlayStation 5 Console">
                        <h3><a asp-controller="Product" asp-action="PS5">PlayStation 5</a></h3>
                        <p>Sony PlayStation 5 Console</p>
                    </li>
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/PS5D.png"
                             style="width: 150px; height: 195px;" alt="Sony PlayStation 5 Digital Console">
                        <h3><a asp-controller="Product" asp-action="PS5Digital">PlayStation 5 Digital</a></h3>
                        <p>Sony PlayStation 5 Digital Console</p>
                    </li>
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/switchOLED.png"
                             style="width: 200px; height: 130px;" alt="Nintendo Switch OLED Console">
                        <h3><a asp-controller="Product" asp-action="SwitchOLED">Switch OLED</a></h3>
                        <p>Nintendo Switch OLED</p>
                    </li>
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/XBOXSeriesX.png"
                             style="width: 300px; height: 195px;" alt="Microsoft XBOX Series X Console">
                        <h3><a asp-controller="Product" asp-action="XBOXSeriesX">XBOX Series X</a></h3>
                        <p>Microsoft XBOX Series X Console</p>
                    </li>
                    <li>
                        <img class="img-fluid" src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/XBOXSeriesS.png"
                             style="width: 217px; height: 195px;" alt="Microsoft XBOX Series S Console">
                        <h3><a asp-controller="Product" asp-action="XBOXSeriesS">XBOX Series S</a></h3>
                        <p>Microsoft XBOX Series S Console</p>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
</body>
