<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RapidStockChecker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/r_design_2_I7X_icon.ico" />
    <meta name="google-site-verification" content="6YhbqPdga5uF3j-dLRhuOIIqQZpzM9BeEFhZQ_1bMzs" />
    <meta name="twitter:site" content="@@RapidStockCheck" />
    <meta name="twitter:account_id" content="1392579555559284737" />
    <meta name="twitter:title" content="Rapid Stock Checker: FREE GPU, XBOX, and PS5 restock alerts (USA)." />
    <meta name="twitter:description" content="RapidStockChecker.com provides free back-in-stock alerts for hard-to-find PC, GPU and console components and hardware the moment they become available. Get restock alerts instantly on Twitter, or our Discord server" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:src" content="https://rapidstockchecker.s3.us-west-2.amazonaws.com/RSC-Banner-1.jpg" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0B1E6S7080"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-0B1E6S7080');
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://rapidstockchecker.s3.us-west-2.amazonaws.com/DesignDark" style="width:60px; height:60px" alt="RapidStockChecker.com Home">
                    Rapid Stock Checker
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle nav-link text-white" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:17px">
                                Product Trackers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size:17px">
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="RTX3090">NVIDIA GeForce RTX 3090</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="RTX3080Ti">NVIDIA GeForce RTX 3080Ti</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="RTX3080">NVIDIA GeForce RTX 3080</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="RTX3070Ti">NVIDIA GeForce RTX 3070Ti</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="RTX3070">NVIDIA GeForce RTX 3070</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="RTX3060Ti">NVIDIA GeForce RTX 3060Ti</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="RTX3060">NVIDIA GeForce RTX 3060</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="RX6900XT">AMD Radeon RX 6900 XT</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="RX6800XT">AMD Radeon RX 6800 XT</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="RX6800">AMD Radeon RX 6800</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="RX6700XT">AMD Radeon RX 6700 XT</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="PS5">Sony PlayStation 5</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="PS5Digital">Sony PlayStation 5 Digital</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="XBOXSeriesX">Microsoft XBOX Series X</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="XBOXSeriesS">Microsoft XBOX Series S</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="SwitchOLED">Nintendo Switch OLED</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="font-size:17px" asp-controller="Home" asp-action="FAQ">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-muted">
        <div class="container">
            <div class="col-lg-12 text-center">
                <p>
                    &copy;2021 RapidStockChecker.com. All rights reserved. All logos and trademarks found on this
                    site are the property of their respective owners. RapidStockChecker.com is a participant in the
                    Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a
                    means for sites to earn advertising fees by advertising and linking to Amazon.com. As an Amazon
                    Associate we earn from qualifying purchases. - <a href="https://www.freeprivacypolicy.com/live/33e1cf9f-a506-4a87-91cc-41cd094479f5">Privacy</a>
                </p>
            </div>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="~/js/Tables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
