
@{
    ViewBag.Title = "Not Found";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>@ViewBag.ErrorMessage</h1>
            <br />
            <a asp-action="index" asp-controller="home" style="font-size: 26px">
                Click here to return to the home page
            </a>
            <br />
            <hr />
        </div>
    </div>
</div>
